<!doctype html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=yes">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
    <div class="nav-container">
        <div class= "center">
            <div class="group-button">
              <a href="base.html" id="cold" class="nonactivebutton button">ICE</a>
              <a href="hot.html" id="hot" class="nonactivebutton button">HOT</a>
              <a href="dessert.html" id="dessert" class="nav-button button">DESSERT</a>
            </div>
            </div>
            </div>
            <div class="items-container">
                <img id="myBtn"   src=../static/Dessert/macaron.png>
                <img id="myBtn1"  src=../static/Dessert/dessert.png>
                <img id="myBtn2"  src=../static/Dessert/macaron.png>
                <img id="myBtn3"  src=../static/Dessert/dessert.png>
                <img id="myBtn4"  src=../static/Dessert/macaron.png>
                <img id="myBtn5"  src=../static/Dessert/dessert.png>
                
                <div class="center">
              
                </div>
              </div>
</body>
</html>